<nav id="navbar">
    <div class="navbar-item">
        <form action="/" method="get">
            <button class="back-button" tabindex="1">Terug naar Inloggen</button>
        </form>
    </div>
    <div id="popup-message">
        <p>Wil je eerst meer lezen over de SDG's? Ga dan naar deze <a href="https://www.sdgnederland.nl/" target="_blank" style="color: green;">site</a>
        </a>.</p>
    </div>
</nav>