<%- include('./partials/head') %>
<section class="login-container">
  <div class="login-text">
    <form action="/Stakeholder-SDG" method="get">
      <div class="login-form">
        <div class="login-form-top">
          <h2 id="login-heading">Log in met uw bedrijfsaccount.</h2>
        </div>
        <label for="username">Gebruikersnaam</label>
        <input type="text" id="username" name="u" placeholder="Voer uw gebruikersnaam in">
        <label for="password">Wachtwoord</label>
        <input type="password" id="password" name="p" placeholder="Voer uw wachtwoord in">
        <button class="login-btn">Log in</button>
        <p>Heeft u nog geen account? <a href="/signup" style="color: green;" >Meld u hier aan</a>.</p>
      </div>
    </form> 
      <footer>
        <div class="footer-main">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://linkedin.com" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Handprint Footprint. All rights reserved.</p>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
      </footer>
    </div>
    
    <section class="welcome-container">
      <div class="login-container-text">
        <h1>Welkom op de website van <span>Handprint Footprint</span></h1>
        <p>Op deze pagina kunt u zien hoe goed uw belanghebbenden het doen aan de hand van de SDG's.</p>
        <p>Log in om te zien hoe goed uw belanghebbenden het doen.</p>
      </div>
    
      <div class="container-sdg-login">
        <!-- Render SDG icons dynamically -->
        <!-- Assuming 'data' is an array of objects containing 'icon' property -->
        <% data.forEach((item, index) => { %>
          <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="static-image" width="100" height="
          100" alt="SDG <%= index + 1 %> ">
        <% }); %>   
      </div>  
    
    </section>
  </section>
  