<%- include('./partials/head') %>
<section class="login-container">
    <div class="login-text">
      <form action="/Stakeholder-SDG" method="get">
        <div class="login-form">
          <div class="login-form-top">
            <h2 id="login-heading">Log in met jouw bedrijf.</h2>
          </div>
          <label for="username">Username</label>
          <input type="text" id="username" name="u" placeholder="Enter your username" >
          <label for="password">Password</label>
          <input type="password" id="password" name="p" placeholder="Enter your password" >
          <button type="submit" class="login-btn">Log in</button>
        </div>
      </form>
      <footer>
        <div class="footer-main">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://linkedin.com" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Handprint Footprint. All rights reserved.</p>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
      </footer>
    </div>
    
    <section class="welcome-container">
      <div class="login-container-text">
        <h1>Welcome to the website of <span>Handprint Footprint</span></h1>
        <p>On this page you can see how well your stakeholders are doing using the SDG's.</p> 
        <p>Login to see how well your stakeholders are doing.</p>
      </div>
    
      <div class="container-sdg-login">
        <!-- Render SDG icons dynamically -->
        <!-- Assuming 'data' is an array of objects containing 'icon' property -->
        <% data.forEach((item, index) => { %>
          <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="static-image" width="100" height="
          100" alt="SDG <%= index + 1 %> ">
        <% }); %>   
      </div>  
    
    </section>
  </section>
  