<%- include('./partials/head') %>

<div class="selected-images-container">
    <% if (selectedImages && selectedImages.length > 0) { %>
        <h3>Geselecteerde afbeeldingen:</h3>
        <ul>
            <% selectedImages.forEach(image => { %>
                <li><img src="<%= image %>" alt="Selected Image"></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Geen afbeeldingen geselecteerd.</p>
    <% } %>
</div>



<%- include('./partials/foot') %>
