<%- include('./partials/head') %>
<nav id="navbar">
    <div class="navbar-item">
        <form action="/" method="get">
            <button class="back-button" tabindex="1">Terug naar Inloggen</button>
        </form>
    </div>
</nav>
  
<div class="selected-images-container">
    <% console.log("Geselecteerde afbeeldingen:", selectedImages); %>
    <% if (selectedImages && selectedImages.length > 0) { %>
        <h3>Geselecteerde afbeeldingen:</h3>
        <ul>
            <% selectedImages.forEach(image => { %>
                <li><img src="<%= image %>" alt="Selected Image"></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Geen afbeeldingen geselecteerd.</p>
    <% } %>
</div>


<div class="slider-container">
    <input type="range" min="-5" max="5" value="0" class="slider" id="mySlider">
    <p>Score: <span id="scoreDisplay">0</span></p>
</div>

<form action="/Stakeholder-SDG" method="get">
    <button class="back-button" tabindex="1">Terug naar Stakeholders</button>
</form>