<%- include('./partials/head') %>
<h1>Vragenlijst</h1>
    
<% selectedImages.forEach(imageUrl => { %>
    <img src="<%= imageUrl %>" width="100" class="selected-img">
<% }); %>
<%- include('./partials/foot') %>